* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--extra-light-gray);
}

:root {
    --blue: #1DA1F2;
    --black: #14171A;
    --dark-gray: #657786;
    --light-gray: #AAB8C2;
    --extra-light-gray: #F5F8FA;
    --round-button-size: 56px;
}

.icon {
    width: 36px;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
}



.navbar {
    /* flex: 1; */
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.navbar-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: var(--round-button-size);
    height: var(--round-button-size);
    font-size: 1.5rem;
    padding: 0;
    border: none;
    border-radius: calc(var(--round-button-size) / 2);
}


.home {
    display: flex;
    border-color: red;


}


.create-post-wrapper {
    display: flex;
    padding: 1.5rem;
    gap: 1.5rem;
}

.create-post-wrapper>* {
    /* padding: 1rem; */
}



.content {
    border-left: solid 1px var(--light-gray);
    border-right: solid 1px var(--light-gray);
}

.status {}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.event {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#post-text {
    box-sizing: border-box;
}

button {
    font-size: 1rem;
    font-weight: 500;
    background: none;
    padding: 0 16px;
    min-height: 32px;
    border-radius: 16px;
    border: 1px solid;
    transition: all 0.3s;
}

.button-description {
    white-space: nowrap;
    display: none;
}

button:hover {
    background-color: var(--light-gray);

}

@media (max-width: 767px) {
    .navigation {
        flex-direction: column;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-around;
        /* justify-content: stretch; */
        /* align-items: space-around; */
        gap: auto;
    }
}

@media (min-width:768px) and (max-width: 1199px) {}

@media (min-width: 1200px) {
    .button-description {
        white-space: nowrap;
        display: inline-block;
    }

    .navbar {
        align-items: flex-start;
    }

    .navbar-button {
        justify-content: space-between;
        width: auto;
        padding: 0 18px;
    }
}