* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--extra-extra-light-gray);
}

:root {
    --blue: #1DA1F2;
    --black: #14171A;
    --dark-gray: #657786;
    --light-gray: #AAB8C2;
    --extra-light-gray: #E1E8ED;
    --extra-extra-light-gray: #FFFFFF;
    --round-button-size: 56px;
    --light-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1)
}

.logo-icon {
    width: 36px;
    height: 36px;
}

.navigation {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}



.navbar {
    flex: 1;
    max-width: 150px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: sticky;
    height: min-content;
    z-index: 5;
}

.navbar-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: var(--round-button-size);
    height: var(--round-button-size);
    font-size: 1.5rem;
    padding: 0;
    border: none;
    border-radius: calc(var(--round-button-size) / 2);
}

.navbar-button:hover {
    background-color: var(--light-gray);
    color: var(--black);
}


.home {
    display: flex;
    flex: 4;
    justify-content: space-between;
}

.content {
    border-left: solid 0.1px var(--light-gray);
    border-right: solid 0.1px var(--light-gray);
    /* display: flex; */
}

.sidebar-wrapper {
    flex: 1;
}


.create-post-wrapper {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border-bottom: solid 0.1px var(--light-gray);
}

.create-post {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;

}

.create-post-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.create-post-textarea-button-wrapper {
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
    gap: 1rem;
}

.comment-textarea-label {
    flex: 1;
}

.comment-textarea {
    flex: 1;
}


.loaded-image-wrapper {
    position: relative;
}

.loaded-image {
    object-fit: contain;
    max-width: 400px;
}

.cancel-button {
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--extra-extra-light-gray);
    width: var(--round-button-size);
    height: var(--round-button-size);
    border-radius: calc(var(--round-button-size)/2);
    top: 0.5rem;
    left: 0.5rem;
    padding: 0;
}

.event-button-wrapper {
    transition: box-shadow 0.15s;
}

.event-button-wrapper:hover {
    box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


.event-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: scale 0.3s;
}

.event-buttons>label:hover {
    scale: 1.1;
}

.upload-image-input {
    display: none;
}

.feedback {
    display: block;
}

.event {
    display: flex;
    flex-direction: column;
    border-bottom: solid 0.1px var(--light-gray);
    gap: 0.3rem;
    position: relative;
    padding: 1rem;
}

.event-top {
    display: flex;
    justify-content: space-between;
}

.event-dropdown-menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: var(--light-shadow);
    border-radius: calc(var(--round-button-size)/4);

}

.event-dropdown-menu>* {
    border: none;
}

.event-text {
    font-size: 1.6rem;
    padding: 0.6rem;
    background-color: var(--extra-extra-light-gray);
    border: none;
    transition: background-color 0.3s;
    display: block;
    resize: none;
    overflow-y: hidden;
    box-sizing: border-box;
    width: 100%;
}

.event-text:focus {
    outline: none;
    background-color: var(--extra-light-gray);
    box-shadow: var(--light-shadow);
}

.event-author-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.event-timestamp {
    color: var(--dark-gray);
}

.author-name {
    border: none;
    padding: 0;
    font-weight: 500;
    font-size: 1.1rem;
}

.author-name:hover {
    background-color: var(--extra-extra-light-gray);
    text-decoration: underline;
    color: var(--black);
}

.event-image {
    object-fit: contain;
}

.event-attribute {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem;
}

.user-profile {
    padding: 1rem;
    border-bottom: solid 0.1px var(--light-gray);
    display: flex;
    gap: 1rem;
}

.user-profile .label {
    color: var(--dark-gray);
    font-weight: 300;
}

.user-profile .data {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-profile .value {
    font-size: 1.2rem;
    font-weight: 500;

}

.avatar-wrapper {
    width: 200px;
    height: 200px;
}

.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: var(--black) solid 0.5px;
    border-radius: 0.5rem;
    box-sizing: border-box;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}


.basic-data-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.detailed-data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-name {
    font-size: 32px;
}

.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.edit-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    box-shadow: var(--light-shadow);
    gap: 1rem;
    width: 350px;
}

.register-button {
    background-color: var(--blue);
    color: #fff;
}

.register-nav {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.signup-page button:hover {
    background-color: var(--black);
    color: var(--extra-extra-light-gray)
}

.following-list {
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.following-name {
    font-weight: 700;
    font-size: 1.3rem;
}


#post-text {
    box-sizing: border-box;
}

.hide {
    display: none;
}

button {
    font-size: 1rem;
    font-weight: 500;
    background: none;
    padding: 0 16px;
    min-height: 32px;
    border-radius: 16px;
    border: 1px solid;
    transition: all 0.3s;
    cursor: pointer;

}

.button-description {
    white-space: nowrap;
    display: none;
}

button:hover {
    background-color: var(--black);
    color: var(--extra-extra-light-gray);

}

.tweet-button {
    /* background-color: none; */
    border: var(--blue) 1.5px solid;
    color: var(--blue);
    box-sizing: border-box;
}

.tweet-button:disabled {
    border-color: var(--light-gray);
    color: var(--light-gray);
    cursor: not-allowed;
}


.tweet-button:hover {
    background-color: var(--blue);
    color: var(--extra-extra-light-gray);
    border-color: var(--blue);
}

.menu-drop-button {
    border: none;
    color: var(--dark-gray);
    /* position: absolute; */
    top: 1rem;
    right: 1rem;
    padding: 0;
}

.delete-button {
    color: red;
}

.edit-nav-buttons {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.loading-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 3rem 0;
}

.loading-ball {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: var(--blue);
    position: relative;
    transform: rotate(0deg);
    animation: 10s swim infinite linear reverse;
}

.loading-duck {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -40px;
    left: 46px;
    z-index: -1;
    animation: 2s boyance infinite linear;
}


#cloud1,
#cloud2,
#cloud3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cloud1 {
    transform: translatex(-200px);
    animation: move 7s infinite linear;
}

#cloud2 {
    transform: translatex(-170px) translateY(40px);
    animation: move 5s infinite linear;

}

#cloud3 {
    transform: translatex(-150px) translateY(-60px);
    animation: move 9s infinite linear;
}

.cloud {
    background: var(--extra-extra-light-gray);
    width: 60px;
    height: 20px;
    border-radius: 15px;
}

.cloud:after {
    content: '';
    background: var(--extra-extra-light-gray);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -10px;
    left: 10px;
}

.cloud:before {
    content: '';
    background: var(--extra-extra-light-gray);
    position: absolute;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    top: -18px;
    right: 9px;
}

a {
    text-decoration: none;
}

@keyframes move {
    100% {
        transform: translatex(200px);
    }
}

@keyframes swim {
    0% {}

    60% {
        background-color: #087ac2;
    }

    100% {
        transform: rotate(360deg);

    }
}

@keyframes boyance {
    0% {
        top: -40px;
    }

    33% {
        top: -34px;
    }

    66% {
        top: -42px;
    }

    100% {
        top: -40px;
    }

}

.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 650px;
    height: 100vh;
    gap: 1rem;
    margin: auto;
}

.about-page-buttons {
    display: flex;
    width: 100%;
    white-space: nowrap;
    justify-content: space-around;
}

.about-page-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    width: auto;
    padding: 9px 18px;
    border: none;
    border-radius: calc(var(--round-button-size) / 2);
}

.about-page-button:hover {
    background-color: var(--light-gray);
    color: var(--black);
}

@media (max-width: 767px) {
    .navigation {
        flex-direction: column-reverse;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        max-width: 767px;
        border-bottom: var(--light-shadow);
        background-color: var(--extra-extra-light-gray);
        flex: 0;
        bottom: 0;
        box-shadow: var(--light-shadow);
    }

    .home {
        display: flex;
        flex-direction: column;
    }

    .content {
        max-width: 767px;
    }

    .sidebar-wrapper {
        display: none;
    }
}

@media (min-width:768px) and (max-width: 1199px) {
    .followed-button {
        display: none;
    }

    .navbar {
        flex: 0;
        top: 0;
    }

    .home {
        flex: 1;
    }

    .content {
        flex: 5;
    }

    .sidebar-wrapper {
        flex: 2;
        max-width: 400px;
    }
}

@media (min-width: 1200px) {
    .navbar {
        align-items: flex-start;
        flex: 0;
        top: 0;
        max-width: 350px;
    }

    .home {
        flex: 0;
        width: max-content;
    }

    .content {
        max-width: 600px;
        width: 600px;
        flex: 3;
    }

    .sidebar-wrapper {
        flex: 2;
        max-width: 400px;
        width: 400px;
    }

    .button-description {
        white-space: nowrap;
        display: inline-block;
    }

    .navbar-button {
        justify-content: space-between;
        width: auto;
        padding: 0 18px;
    }

    .followed-button {
        display: none;
    }
}